.container {
    height: 669px;
    background-color: var(--color-primary);
    z-index: -1;
}

.container > *{
  font-size:1.1rem;
}

.monkImg {
    height: 560px;
    margin-top: 6.3rem;
    margin-left: var(--margin);
    border-left: solid var(--color-base) 8px;
    border-top: solid var(--color-primary) 8px;
}

.content{
    display: flex;
    justify-content: space-between;
}

.detail{
    margin: auto 0;
    margin-left:200px;
    margin-right:auto;
}

.hello{
    border: solid 1px ridge;
    width:390px;
    height:120px;
    padding-bottom: 20px;
    background-color: white;
}

.hello p {
    display:block;
    font-weight: bold;
    font-size: 5.5rem;
    font-family: Oswald, sans-serif !important;
}

.Iam{
    font-size: 3rem;
    font-family: Montserrat, sans-serif !important;
    margin: 20px 0;
}

.imgReff{
    font-family: 'Open Sans',sans-serif !important;
    margin: 20px 0;
}

.imgReff a{
    color: black;
}

.imgReff:hover a{
    text-decoration: none;
}